@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
}

.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title{
    color: #fff;
    font-size: 35px;
    line-height:  100px;
    font-weight: 600;
    text-align: center;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(45deg, rgba(42,42,170,1) 25%, rgba(255,0,245,1) 100%);
}

.wrapper form{
    padding: 10px 30px 50px 30px;
}

.wrapper form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.wrapper form .field input{
    height: 100%;
    width: 100%;
    font-size: 17px;
    padding-left: 20px;
    outline: none;
    border-radius: 25px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}

.wrapper form .field label {
    color: #999;
    position: absolute; 
    top: 50%;
    left: 20px;
    font-size: 17px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus{
    border-color: #4158d0;
}

.wrapper form .field input:valid ~ label,
.wrapper form .field input:focus ~ label{
    top: 0%;
    color: #4158d0;
    background: #fff;
    font-size: 16px;
    transform: translateY(-50%);
}

.wrapper form .forgot {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 0 10px;
}

.wrapper form .forgot .remember{
    display: flex;
}

.wrapper form .signup{
    text-align: center;
    margin-top: 20px;
    color: #262626
}

.wrapper form .forgot a,
.wrapper form .signup a{
    color: #4158d0;
    text-decoration: none;
}

.wrapper form .forgot a:hover,
.wrapper form .signup a:hover{
    text-decoration: underline;
}

.wrapper form input[type="submit"]{
    color:#fff;
    font-size: 18px;
    background: linear-gradient(45deg, rgba(42,42,170,1) 25%, rgba(255,0,245,1) 100%);
    border: none;
    padding-left:0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper form input[type="submit"]:active{
    transform: scale(0.95);
}